header {
    position: relative;
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid  #CCCCCC;
}
header img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}